.root{
    -fx-font-size: 24pt ;
    -fx-background-color: #d7ccc8;
}
.vbox {
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-padding: 15;
    -fx-background-color: transparent;
}

/* Styl dla HBox */
.hbox {
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-background-color: transparent;
}

/* Styl dla GridPane */
.grid-pane {
    -fx-alignment: center;
    -fx-background-color: transparent;
}

/* Styl dla Label */
.label {
    -fx-font-size: 30;
    -fx-text-fill: black;
}

/* Styl dla Button */
.button {
    -fx-font-size: 30;
    -fx-pref-height: 60;
    -fx-pref-width: 300;
    -fx-padding: 10;
    -fx-background-color: #e0e0e0;
    -fx-text-fill: black;
}

.flow-pane {
    -fx-alignment: center;
    -fx-max-width: 800;
    -fx-background-color: transparent;
}

/* Styl dla AnchorPane */
.anchor-pane {
    -fx-padding: 15;
    -fx-background-color: transparent;
}
